:root {
  --bg-dark: rgba(40, 40, 40, 1);;
}

* {
  box-sizing: border-box;
  touch-action: manipulation;
  overscroll-behavior: none;
}

html {
  font-weight: 400;
  letter-spacing: -.05px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  text-decoration: none;
}

html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,
    “Segoe UI”, “Roboto”, “Oxygen”,
    “Ubuntu”, “Cantarell”, “Fira Sans”,
    “Droid Sans”, “Helvetica Neue”, sans-serif;
}

img, svg, b {
  pointer-events: none;
}

@media (max-width: 800px) {
  img {
    width: 15px;
  }
}

small {
  font-size: 12px;
}

.bold { font-weight: bold;}

small, button, a {
  color: rgba(255, 255, 255, .9);
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  margin: 0;
}

button:not(.no-hover):hover {
  background: rgba(100, 100, 100, 1);
}

@supports (-webkit-overflow-scrolling: touch) {
  button:not(.no-hover):hover {
    background: rgba(0, 0, 0, 0);
  }

  button:not(.no-hover):active { /* prevent annoying sticky hover effect on ios */
    background: rgba(0, 0, 0, 0);
  }
}

canvas, .frame-img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  user-select: none;
}

input, select {
  height: 25px;
}

input[type='text'], input[type='number'] {
  display: inline-block;
  min-width: 0;
  background: rgb(40, 40, 40);
  border: 1px solid rgb(35, 35, 35);
  outline: none;
  border-radius: 2px;
  color: rgba(255, 255, 255, .9);
  padding: 6px 5px 7px 10px;
  height: 27px;
}

input[type='text']:focus,
input[type='number']:focus,
select:focus{
  border: 1px solid rgba(255, 255, 255, .3);
}

.select {
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(40, 40, 40);
  border: 1px solid rgb(35, 35, 35);
  border-radius: 2px;
}

.select:after {
  position: absolute;
  transform: rotate(180deg);
  color: rgba(255, 255, 255, .9);
  right: 8px;
  top: 6px;
  content: '\25B4';
  pointer-events: none;
}

select, select:focus {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
  padding: 5px 20px 5px 10px;
  color: rgba(255, 255, 255, .9);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(25,25,25);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(70,70,70);
}

.clickable { cursor: pointer; }
.hover-xlight:hover { background: rgb(110, 110, 110); }

.bg-xlight { background: rgba(100, 100, 100,  1); }
.bg-light { background: rgba(61,61,61, 1); }
.bg-mid { background: rgba(50, 50, 50, 1); }
.bg-dark { background: var(--bg-dark); }
.bg-transparent { background: transparent; }
.bg-white { background: rgba(255, 255, 255, .8); }
.bg-blue { background: rgb(52, 152, 219); }
.bg-green { background: #27ae60; }
.bg-red { background: #e74c3c; }

.bord-mid { border: 1px solid rgb(43, 43, 43); }
.bord-dark { border: 1px solid rgb(33, 33, 33); }
.bord-dark-h { border-left: 1px solid rgb(33, 33, 33); border-right: 1px solid rgb(33, 33, 33); }
.bord-dark-b { border-bottom: 1px solid rgb(33, 33, 33); }
.bord-dark-t { border-top: 1px solid rgb(33, 33, 33); }
.bord-dark-l { border-left: 1px solid rgb(33, 33, 33); }
.bord-dark-r { border-right: 1px solid rgb(33, 33, 33); }
.bord-light-b { border-bottom: 1px solid rgb(61, 61, 61); }

.bord-light-b { border-bottom: 1px solid rgba(61,61,61, 1); }
.bord-light-l { border-left: 1px solid rgba(61,61,61, 1); }

.box-dark { box-shadow: 0px 0px 0px 1px inset rgb(33, 33, 33);}

.bord-r-2 { border-radius: 2px; }

.fl-column { display: flex; flex-direction: column;}
.fl-col-reverse { display: flex; flex-direction: column-reverse; justify-content: flex-end;}
.fl { display: flex; }
.fl-wrap { flex-wrap: wrap; }
.fl-center { justify-content: center; align-items: center;}
.fl-center-x { justify-content: center;}
.fl-center-y { align-items: center;}
.fl-justify-around { justify-content: space-around; }
.fl-justify-between { justify-content: space-between; }
.fl-justify-center { justify-content: center; }
.fl-justify-end { justify-content: flex-end; }
.fl-items-start { align-items: flex-start; }

.fl-1 { flex: 1; }
.fl-2 { flex: 2; }
.fl-3 { flex: 3; }
.fl-4 { flex: 4; }
.fl-5 { flex: 5; }
.fl-6 { flex: 6; }

.w-full { width: 100%; }
.h-full { height: 100%; }
.h-40 { height: 40px; }
.w-40 { width: 40px; }
.h-35 { height: 35px; }
.w-35 { width: 35px; }
.w-30 { min-width: 30px; max-width: 30px;}
.h-30 { min-height: 30px; max-height: 30px; }
.h-25 { height: 25px; }
.h-15 { height: 15px; }
.w-15 { width: 15px; }
.h-10 { height: 10px; }
.w-10 { width: 10px; }

.p-h-5 { padding-left: 5px; padding-right: 5px; }
.p-h-10 {padding-left: 10px;padding-right: 10px;}
.p-h-15 { padding-left: 15px; padding-right: 15px; }
.p-v-5 { padding-top: 5px; padding-bottom: 5px; }
.p-v-10 { padding-top: 10px; padding-bottom: 10px; }
.p-v-15 { padding-top: 15px; padding-bottom: 15px; }
.p-5 { padding: 5px; }
.p-10 { padding: 10px; }
.p-0 { padding: 0px; }

.m-5 { margin: 5px; }
.m-0 { margin: 0px; }

.b-r-0 { border-radius: 0px;  }
.b-r-2 { border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; }
.b-r-full { border-radius: 100%; }

.txt-center { text-align: center; }
.txt-right { text-align: right; }
.txt-left { text-align: left; }

.rel { position: relative; }
.abs { position: absolute; }
.top { top: 0px; }
.left { left: 0px; }
.bottom { bottom: 0px; }
.right { right: 0px; }

.overflow { overflow: scroll; overflow: overlay; }
.overflow-none { overflow: hidden; }

.no-ptr { pointer-events: none;}

.z-0 { z-index: 0; }
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.z-3 { z-index: 3; }
.z-4 { z-index: 4; }
.z-5 { z-index: 5; }

input[type='range'] {
  height: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

input[type='range']:focus {
  border: 0;
  outline: none;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid rgba(35, 35, 35, 1);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  /*margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
input[type='range']::-moz-range-thumb {
  border: 1px solid rgba(35, 35, 35, 1);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
}

@media (max-width: 800px) {
  input[type='range']::-moz-range-thumb {
    height: 20px;
    width: 20px;
  }
  input[type='range']::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
  }
  input[type='range'] {
    height: 35px;
  }
}

.hide-scroll {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.hide-scroll::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

#canvas-view { /* http://www.heropatterns.com/ */
  background-color: #b4b4b4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 8 8'%3E%3Cg fill='%23787878' fill-opacity='1'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
}

.cursor-pencil, .cursor-line, .cursor-square, .cursor-circle {
  cursor: crosshair;
}

.cursor-eraser {
  cursor: none;
}

.cursor-eye-dropper {
  cursor: crosshair;
  /* cursor: url('./img/eye-dropper.svg') -8 6, auto; */
}

.cursor-fill {
  cursor: crosshair;
  cursor: url('./img/fill.svg') 6 6, auto;
}

.cursor-move {
  cursor: url('./img/move.svg') 6 6, auto;
}




